In [6]:
import pandas as pd

In [7]:
df = pd.read_excel("../excel/Stock.xlsx",index_col="Name")
df["delivery"]=100
df["total"] = df["Price"] + df["delivery"]
cols={"Category":"Group"}
df.rename(columns=cols,inplace=True)
df

                                Group  Price  Amount  delivery  total
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900      10       100   1000
ปากกา                 อุปกรณ์การเรียน    200       5       100    300
โคมไฟ                เครื่องใช้ในบ้าน   1200       7       100   1300
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750       1       100    850
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500       0       100   3600
เสื้อยืดคอกลม                เสื้อผ้า    500       2       100    600
กางเกงยีนต์                  เสื้อผ้า    999       8       100   1099
ตุ๊กตาหมีพูห์                 ของเล่น    950       5       100   1050
โซฟา                     เฟอร์นิเจอร์   5000       5       100   5100
จาน                       เครื่องครัว    250       4       100    350
ทีวี                  เครื่องใช้ไฟฟ้า  15000       7       100  15100
ยางลบ                 อุปกรณ์การเรียน     20       5       100    120
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500       7       100   2600
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850       5       100    950
รถบังคับ                      ของเล่น    500       6       100    600

In [8]:
col={"Price":"Cost","Amount":"Quantity","total":"Summation"}
df.rename(columns=col,inplace=True)
df

                                Group   Cost  Quantity  delivery  Summation
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900        10       100       1000
ปากกา                 อุปกรณ์การเรียน    200         5       100        300
โคมไฟ                เครื่องใช้ในบ้าน   1200         7       100       1300
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750         1       100        850
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500         0       100       3600
เสื้อยืดคอกลม                เสื้อผ้า    500         2       100        600
กางเกงยีนต์                  เสื้อผ้า    999         8       100       1099
ตุ๊กตาหมีพูห์                 ของเล่น    950         5       100       1050
โซฟา                     เฟอร์นิเจอร์   5000         5       100       5100
จาน                       เครื่องครัว    250         4       100        350
ทีวี                  เครื่องใช้ไฟฟ้า  15000         7       100      15100
ยางลบ                 อุปกรณ์การเรียน     20         5       100        120
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500         7       100       2600
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850         5       100        950
รถบังคับ                      ของเล่น    500         6       100        600

In [10]:
product = [
    ["หูฟัง","อุปกรณ์คอม",400,20,500],
    ["สายชาร์จ","อุปกรณ์คอม",1400,20,1500]
]
cols=["Name","Group","Cost","Quantity","Summation"]
newdf = pd.DataFrame(data=product,columns=cols)
newdf

       Name       Group  Cost  Quantity  Summation
0     หูฟัง  อุปกรณ์คอม   400        20        500
1  สายชาร์จ  อุปกรณ์คอม  1400        20       1500

In [11]:
newdf.set_index("Name",inplace=True)
newdf

               Group  Cost  Quantity  Summation
Name
หูฟัง     อุปกรณ์คอม   400        20        500
สายชาร์จ  อุปกรณ์คอม  1400        20       1500

In [12]:
df

                                Group   Cost  Quantity  delivery  Summation
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900        10       100       1000
ปากกา                 อุปกรณ์การเรียน    200         5       100        300
โคมไฟ                เครื่องใช้ในบ้าน   1200         7       100       1300
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750         1       100        850
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500         0       100       3600
เสื้อยืดคอกลม                เสื้อผ้า    500         2       100        600
กางเกงยีนต์                  เสื้อผ้า    999         8       100       1099
ตุ๊กตาหมีพูห์                 ของเล่น    950         5       100       1050
โซฟา                     เฟอร์นิเจอร์   5000         5       100       5100
จาน                       เครื่องครัว    250         4       100        350
ทีวี                  เครื่องใช้ไฟฟ้า  15000         7       100      15100
ยางลบ                 อุปกรณ์การเรียน     20         5       100        120
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500         7       100       2600
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850         5       100        950
รถบังคับ                      ของเล่น    500         6       100        600

In [22]:
pd.concat([df,newdf])

                                Group   Cost  Quantity  delivery  Summation
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900        10     100.0       1000
ปากกา                 อุปกรณ์การเรียน    200         5     100.0        300
โคมไฟ                เครื่องใช้ในบ้าน   1200         7     100.0       1300
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750         1     100.0        850
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500         0     100.0       3600
เสื้อยืดคอกลม                เสื้อผ้า    500         2     100.0        600
กางเกงยีนต์                  เสื้อผ้า    999         8     100.0       1099
ตุ๊กตาหมีพูห์                 ของเล่น    950         5     100.0       1050
โซฟา                     เฟอร์นิเจอร์   5000         5     100.0       5100
จาน                       เครื่องครัว    250         4     100.0        350
ทีวี                  เครื่องใช้ไฟฟ้า  15000         7     100.0      15100
ยางลบ                 อุปกรณ์การเรียน     20         5     100.0        120
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500         7     100.0       2600
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850         5     100.0        950
รถบังคับ                      ของเล่น    500         6     100.0        600
หูฟัง                      อุปกรณ์คอม    400        20       NaN        500
สายชาร์จ                   อุปกรณ์คอม   1400        20       NaN       1500