In [1]:
import pandas as pd

In [3]:
name = ["คีย์บอร์ด","เมาส์","ตุ๊กตา"]
category = ["อุปกรณ์คอม","อุปกรณ์คอม","ของเล่น"]
price = [500,300,900]
#data

In [4]:
name_serie = pd.Series(name)
category_serie = pd.Series(category)
price_serie = pd.Series(price)
#serie

In [5]:
frame = {"ชื่อสินค้า":name_serie,"หมวดหมู่":category_serie,"ราคา":price_serie}

In [7]:
df = pd.DataFrame(frame)
df

  ชื่อสินค้า    หมวดหมู่  ราคา
0  คีย์บอร์ด  อุปกรณ์คอม   500
1      เมาส์  อุปกรณ์คอม   300
2     ตุ๊กตา     ของเล่น   900

In [8]:
df.set_index(["ชื่อสินค้า"],inplace=True)
df

              หมวดหมู่  ราคา
ชื่อสินค้า
คีย์บอร์ด   อุปกรณ์คอม   500
เมาส์       อุปกรณ์คอม   300
ตุ๊กตา         ของเล่น   900