In [1]:
import pandas as pd

In [2]:
datas = [10,20,30,40,50] #list

In [4]:
df = pd.DataFrame(datas)
df

    0
0  10
1  20
2  30
3  40
4  50

In [5]:
datas_tp = (59,60,25,32) #tuple

In [6]:
df = pd.DataFrame(datas_tp)
df

    0
0  59
1  60
2  25
3  32

In [7]:
cols = ['อายุ'] #ต้องเป็น list เท่านั้น
df = pd.DataFrame(datas_tp,columns=cols)
df

   อายุ
0    59
1    60
2    25
3    32