In [8]:
import pandas as pd

In [9]:
name = ["คีย์บอร์ด","ตุ๊กตา","เมาส์"]
category = ["IT","ของเล่น","IT"]
price = [400,500,300]
datas = list(zip(name,category,price))

In [10]:
cols = ["ชื่อสินค้า","หมวดหมู่","ราคา"]
df = pd.DataFrame(datas,columns=cols)
df

  ชื่อสินค้า หมวดหมู่  ราคา
0  คีย์บอร์ด       IT   400
1     ตุ๊กตา  ของเล่น   500
2      เมาส์       IT   300