In [5]:
import pandas as pd

In [6]:
datas = [["คีย์บอร์ด","IT",4000],["ตุ๊กตา","ของเล่น",500],["เมาส์","IT",300],["Iphone 12","Moblie",40000]]

In [7]:
cols = ["ชื่อสินค้า","หมวดหมู่","ราคา"]
df = pd.DataFrame(datas,columns=cols)
df

  ชื่อสินค้า หมวดหมู่   ราคา
0  คีย์บอร์ด       IT   4000
1     ตุ๊กตา  ของเล่น    500
2      เมาส์       IT    300
3  Iphone 12   Moblie  40000