In [1]:
import pandas as pd

In [2]:
data_ls=[10,20,30,"Ratchanon","Iphone",True]
data_ls

[10, 20, 30, 'Ratchanon', 'Iphone', True]

In [3]:
pd.Series(data_ls)

0           10
1           20
2           30
3    Ratchanon
4       Iphone
5         True
dtype: object

In [5]:
ps = pd.Series(data_ls)
ps

0           10
1           20
2           30
3    Ratchanon
4       Iphone
5         True
dtype: object

In [6]:
data_tp=(10,20,30,"Ratchanon","Iphone","Python")
data_tp

(10, 20, 30, 'Ratchanon', 'Iphone', 'Python')

In [7]:
pd.Series(data_tp)

0           10
1           20
2           30
3    Ratchanon
4       Iphone
5       Python
dtype: object

In [8]:

ps_tp = pd.Series(data_tp)
ps_tp

0           10
1           20
2           30
3    Ratchanon
4       Iphone
5       Python
dtype: object