In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("../csv/product.csv",encoding="utf-8")
df

   Unnamed: 0 ชื่อสินค้า    หมวดหมู่  ราคา
0           0  คีย์บอร์ด  อุปกรณ์คอม   500
1           1      เมาส์  อุปกรณ์คอม   300
2           2     ตุ๊กตา     ของเล่น   900