In [4]:
import pandas as pd

In [10]:
colsName = ["สินค้า","ประเภท","ราคา"]
df = pd.read_csv("../csv/product3.csv",encoding="utf-8",names=colsName)
df

      สินค้า      ประเภท  ราคา
0  คีย์บอร์ด  อุปกรณ์คอม   500
1      เมาส์  อุปกรณ์คอม   300
2     ตุ๊กตา     ของเล่น   900