In [1]:
import pandas as pd

In [11]:
df = pd.read_excel("../excel/Stock.xlsx",index_col="Name")
df.sort_index(ascending=False,inplace=True)

In [12]:
df

                             Category  Price  Amount
Name
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750       1
โซฟา                     เฟอร์นิเจอร์   5000       5
โคมไฟ                เครื่องใช้ในบ้าน   1200       7
เสื้อยืดคอกลม                เสื้อผ้า    500       2
เมาส์              อุปกรณ์คอมพิวเตอร์    900      10
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500       0
รถบังคับ                      ของเล่น    500       6
ยางลบ                 อุปกรณ์การเรียน     20       5
ปากกา                 อุปกรณ์การเรียน    200       5
ทีวี                  เครื่องใช้ไฟฟ้า  15000       7
ตุ๊กตาหมีพูห์                 ของเล่น    950       5
จาน                       เครื่องครัว    250       4
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850       5
กางเกงยีนต์                  เสื้อผ้า    999       8
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500       7